.inputs {
    height: 17.5px;
    border-radius: 12px;
    border: 1px solid #90E0EF;
    outline-color: #1990A7;
    padding: 0 12px;
}

.okBtn,
.cancelBtn {
    background: transparent;
    border: none;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
}

.okBtn {
    border: 2px solid #238B21;
    margin-right: 8px;
}

.cancelBtn {
    border: 2px solid #FF0000;
}

.okBtn:hover {
    background: #7DD695;
}

.cancelBtn:hover {
    background: #FFCCBF;
}

.okBtn:hover,
.cancelBtn:hover {
    transition: .25s ease-in;
}