.container {
    padding-bottom: 12px;
}

.editBtn,
.deleteBtn {
    background: transparent;
    border: none;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
}

.editBtn {
    border: 2px solid #238B21;
    margin-right: 8px;
}

.deleteBtn {
    border: 2px solid #FF0000;
}

.editBtn:hover {
    background: #7DD695;
}

.deleteBtn:hover {
    background: #FFCCBF;
}

.editBtn:hover,
.deleteBtn:hover {
    transition: .25s ease-in;
}