.main {
  padding: 16px;
  min-height: calc(100vh - 174px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.cardsContainer {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 32px;
}

.storeAndNewProduct {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px;
}

.products {
  width: 320px;
}

@media screen and (max-width: 768px) {
  .storeAndNewProduct {
    flex-direction: column;
    align-items: center;
  }
}